*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a, li {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.logo-header img{
    height: 60px; 
    width: 150px;

}


.header{
    background-color: #25346c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.menu ul{
    display: flex;
    align-items: center;

}
.menu li{
    margin-right: 1.5rem;
   
}

.menu a:hover{
    color: #cf152b;
}

.menu li:last-child{
    background-color: #cf152b;
    border: 2px solid #cf152b;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.menu li:last-child:hover{
    background: transparent;
    border: 2px solid #cf152b;  
}

body{
    font-family:Arial, Helvetica, sans-serif;
}