*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a, li {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/*Logo de la barra de navegacion*/
.logo-header img{
    height: 40px; 
    width: 100px;

}

/*Barra de navegacion*/
.header{
    background-color: #25346c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.menu ul{
    display: flex;
    align-items: center;

}
.menu li{
    margin-right: 1.5rem;
   
}

.menu a:hover{
    color: #cf152b;
}

.menu li:last-child{
    background-color: #cf152b;
    border: 2px solid #cf152b;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.menu li:last-child:hover{
    background: transparent;
    border: 2px solid #cf152b;  
    
}


/*Portada*/
.portada-titulo h1, h5{
    font-family:Arial, Helvetica, sans-serif;


}
















/*
.slider{
    width: 100%;
    margin: auto;
    height: 900px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;

}

.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}*/



body{
    font-family:Arial, Helvetica, sans-serif;
}